[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MLML2R"]
	path = MLML2R
	url = https://github.com/samarafk/mlml2r
[submodule "multimediate"]
	path = multimediate
	url = https://github.com/samarafk/multimediate
